.section1{
    padding: 50px;
    background-color: black;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.text{
    padding-top: 14%;
    color: white;
    font-size: 12px;
}
.center {
    padding-bottom: 10px;
    padding-top: 10px;
}
.section2{
    background-color: cornsilk;
}
.section3{
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
       
    
    



